body {
   padding-top: 56px;
   color: black;
    background-color: #D0D0D0;
}

.navbar-custom {
   background-color: #343a40;
   padding-top: 0rem;
   padding-bottom: 0rem;
}

.card-img-top {
   object-fit: cover;
}

a:hover {
   text-decoration: none;
}

.welcome-link{
   color:black;
}


textarea {
   resize: none;
}

.delete-form {
   display: inline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

th {
    background-color: #343a40;
    color: white;
}

tr:nth-child(even) {
  background-color: #92a1a1;
}

tr:nth-child(odd) {
  background-color: grey;
}

/* CSS styling for Dark-mode and light mode toggle */

i.toggler {
    color: white;
    float: right;
    font-size: 20px;
}

.dark-mode {
    background-color: #343a40;
}

.dark-mode i.toggler {
    color: grey;
}

.dark-mode .container {
    background-color: #343a40;
    color: white;
}

.dark-mode .navbar-custom {
    background-color: #d0d0d0;

 }


.dark-mode h1, .dark-mode h3, .dark-mode h4 {
    color: white;
}

.dark-mode .welcome-link{
   color: darkgrey;
}